main {
  padding: 3em !important;
}

h1 {
  margin: 1em;
}

form .comments {
  font-style: italic;
  font-size: 1em;
  color: #DC2346;
  height: 25px;
}

form .thank-you {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1em;
}
